<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if navtitle == "Home" %}
      {{ site.description }} &middot; {{ site.title }}
    {% else %}
      {{ title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="/styles.css">
  <link href="/assets/android-chrome-192x192.png" rel="shortcut icon" sizes="192x192">
  <link href="/assets/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed">
  <link href="/assets/favicon.ico" rel="shortcut icon">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml">
</head>