{% assign author = site.data.people[page.author] %}
{% if author != null %}
<div class="author">
    <div class="avatar">
        <img itemprop="image" class="avatar-image avatar-image--small" src="{{author.avatar}}" alt="">
    </div>
    <div class="content">
        <h3 class="title">{{author.name}}</h3>
        <!--<span>{{author.bio}}</span>-->
        <p><a itemprop="twitter" class="twitter" href="https://twitter.com/{{author.twitter}}">@{{author.twitter}}</a></p>
        <p><a itemprop="github" class="github" href="https://github.com/{{author.github}}">github.com/{{author.github}}</a></p>
    </div>

</div>
{% endif %}

<!--<section class="author" itemprop="author">-->
    <!--<div class="details" itemscope itemtype="http://schema.org/Person">-->
        <!--<img itemprop="image" class="img-rounded" src="{{author.avatar}}" alt="{{site.name}}">-->
        <!--<p>{{author.name}}</p>-->
        <!--<p><a itemprop="github" class="github" href="https://github.com/{{author.github}}">github.com/{{author.github}}</a></p>-->
    <!--</div>-->
<!--</section>-->

